@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);



body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #eae4e5;
  background-image: linear-gradient(0deg, #eae4e5 0%, #818383 50%, #4f4e4e 100%);
  background-size: cover;
  background-position: center center;


}

/* Header/Logo Title */
.header { 
  padding-right:  9px;
  padding-top: 53px;
  text-align: left;
  color: whitesmoke;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif; 
  letter-spacing: 4px; 
}   

h1{


  font-family: 'Work sans', sans-serif;


    font-weight: 300;


    letter-spacing: 4px;


    text-decoration: none;


}




/* Page Content */


.content {
  padding-left: 10px;
  padding-right: 10px;}

P{


  text-align: justify;


  color: black; 


  word-wrap: break-word ;


  font-size: large; 


  padding-top: 10px;
} 

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
