@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);



body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #eae4e5;
  background-image: linear-gradient(0deg, #eae4e5 0%, #818383 50%, #4f4e4e 100%);
  background-size: cover;
  background-position: center center;


}

/* Header/Logo Title */
.header { 
  padding-right:  9px;
  padding-top: 53px;
  text-align: left;
  color: whitesmoke;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif; 
  letter-spacing: 4px; 
}   

h1{


  font-family: 'Work sans', sans-serif;


    font-weight: 300;


    letter-spacing: 4px;


    text-decoration: none;


}




/* Page Content */


.content {
  padding-left: 10px;
  padding-right: 10px;}

P{


  text-align: justify;


  color: black; 


  word-wrap: break-word ;


  font-size: large; 


  padding-top: 10px;
} 

.mySlides {
  display:none; 
  vertical-align: middle;
   
  display: flex;
  align-items: center;
  justify-content: center 
}

