
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    text-align: center;
    color: none;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
 
    border-radius: 5px;
    text-align: center;
    color: transparent;
  
}
.btn-default:active .filter-button:active
{
    
    background-color: slategrey;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
} 
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


/*alt Buttons */
* {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  

  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: white;
    vertical-align: middle;
    text-decoration: underline;
    font-size: inherit;
    font-family: inherit;  
    font-family: 'Work Sans', sans-serif; 
    letter-spacing: 4px; 
    

    
  }
  button.learn-more {
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    color: white;
    padding: 1.25rem 2rem;
    background:transparent;
    text-transform: uppercase; 
  
  }
  button.learn-more:hover, button.learn-more:focus, button.learn-more:active {
    letter-spacing: 0.125rem;
  }
  
 
  
  
  }